html,
body {
  margin: 0;
  overflow: hidden;
  background: transparent;
  height: 100%;
}

#three-container {
  position: absolute;
  inset: 0;
}

#instructions {
  position: absolute;
  color: rgba(255, 255, 255, 0.55);
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  font-size: 12px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
